
.logo
{
    width: 250px;
    height: 68px;
    display: block;
    font-size: 25px;
    text-transform: uppercase;
    padding-top: 0px;
    color: #09F;
}
.logo img
{
    width: 250px;
    height: 68px;
}
.logo h2
{
    font-size: 20px;
    text-transform: uppercase;
    padding-top: 10px;
    color: #555;
}


.User_LoginPanel
{
    position: absolute;
    right: 10px;
    top: 15px;
    color: #555;
}
.User_LoginPanel Label
{
    color: #555;
}
.User_LoginPanel a
{
    color: #555;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.User_LoginPanel a:hover
{
    color: #eee;
}
.User_LoginPanel .user_label
{
    color: Silver;
}

.social_link
{
	position:absolute;
	top:10px;
	right:10px;	
	text-align:right;
}
.social_link ul
{
	margin: 0;
    padding: 0;
    list-style-type: none;
}
.social_link ul li
{
	display:inline-block;
}
.social_link ul li img{
	width:35px;
	
	}
.social_link p
{
	color: #fff;
	margin-top:5px;
	text-align:right;
	font-family:EngelLight;
	font-size:15px;

}
.top_text{
	position:absolute;
	top:5px;
	right:10px;	
	text-align:left;
	width: auto;
	}
.top_text p{
	margin-top: 7px;
	margin-left: 5px;
	color:#999;		
	}
.top_text p a{
	margin-top: 7px;
	margin-left: 5px;
	color:#ccc;	
	font-weight:normal;	
	}
.top_text p a:hover{
	color:#f60;	

	}